html {
  background: url('Background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.btnp {
    position: absolute;
    right: 100px;
    bottom: 850px;
}

.btn {
  box-shadow:inset 0px 1px 0px 0px #00000;
	background-color:transparent;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 20px;
	text-decoration:none;

}

.btn:hover {
	background-color:green;
  color: #ffff
}
.btn:active {
	position:relative;
	top:1px;
}



.fyw h4{
    position: relative;
    left: 10%;
    top: 100px;
    font-family: 'Montserrat', sans-serif;

}

.fyy h4{
    position: relative;
    left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.fyz h4{
    position: relative;
    left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.fya h4{
    position: relative;
    left: 10%;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.5;
    font-weight: 700;
