@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
body {
  font-family: "Montserrat", sans-serif;
  min-height: 80vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: top;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center ;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

* {
  font-family: "Montserrat", sans-serif !important;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}
.underline {
  border-bottom: 4px solid currentColor;
  line-height: 1.15;
  display: inline-block;

}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.logo {
    position:absolute;
    left:10;
    top:-15;
}
html *,
html *:before,
html *:after {
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
html i, html em,
html b, html strong,
html span {
  -webkit-transition: none;
  transition: none;
}

*:before,
*:after {
  z-index: -1;
}
h1,
h4 {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  line-height: 55px;
  font-size: 20px;
  color: black;
}

.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 rem;
}

@media (min-width: 600px) {
  .wrap {
    width: 50%;
    float: left;
  }
}
[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 60px;
  max-width: 250px;
  text-align: center;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}
.btn-s {
  color: #fff;
}
.btn-s:after {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.btn-s:before {
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(360deg);
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.btn-s:before, .btn-s:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.btn-s:before {
  bottom: 0;
  left: 0;
  border-color: transparent transparent transparent #fff;
}
.btn-s:after {
  top: 0;
  right: 0;
  border-color: transparent #fff transparent transparent;
}
.btn-s:hover {
  color: #000;
}
.btn-s:hover:before, .btn-s:hover:after {
  border-width: 200px 863px;
}

.btn-c {
  color: #fff;
}
.btn-c:before, .btn-c:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.btn-c:before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.btn-c:after {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.btn-c:hover {
  color: #000;
}
.btn-c:hover:before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn-c:hover:after {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
